*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#header{
    width: 100%;
    height: 60px;
    background: #3f5267;
}

#logo{
    width: 20%;
    height: 60px;
    float: left;
}
#logo h2{
    text-align: center;
    line-height: 60px;
}
#logo h2 a{
    text-decoration: none;
    color: #74889e;
    text-shadow: 3px 3px 3px #000;
}

#title{
    width: 60%;
    height: 60px;
    float: left;
}
#title h2{
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 3px #000;
    line-height: 60px;
}

#link{
    width: 20%;
    height: 60px;
    float: left;
}
#link h3{
    text-align: center;
    line-height: 60px;
}
#link h3 a{
    text-decoration: none;
    color: #fff;
    display: block;
}
#link h3:hover{background: #74889e;}

#bodyleft{
    width: 20%;
    height: 600px;
    background: #3f5267;
    float: left;
    overflow-y: auto;
}
#bodyleft h3{
    margin-bottom: 2%;
    line-height: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 14px;
    background: #74889e;
    height: 30px;
}
#bodyleft ul{
    list-style-type: none;
}
#bodyleft ul li{
    transition: all 0.3s;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 5%;
    box-sizing: border-box;
}
#bodyleft ul li a i{
    width: 10%;
}
#bodyleft ul li a{
    transition: all 0.3s;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    text-shadow: 3px 3px 3px #000;
    font-weight: bold;
    
}
#bodyleft ul li:hover{
    background: #fff;
}
#bodyleft ul li:hover a{
    color: #3f5267;
    padding-left: 5%;
    box-sizing: border-box;
    text-shadow: none;
}

#bodyright{
    width: 80%;
    height: 600px;
    background: #fff;
    float: left;
    overflow-y: auto;
}
#bodyright h3{
    margin-bottom: 2%;
    line-height: 30px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    font-size: 14px;
    background: #74889e;
    height: 30px;
}

#add{
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    
}
#add details{
    width: 60%;
    margin: auto;
}
#add details summary{
    cursor: pointer;
    text-align: center;
    outline: none;
    width: 100%;
    height: 40px;
    line-height: 30px; 
    color: #3f5267;
    border: 1px solid #3f5267;
    font-size: 15px;
}
#add details form{
    background: #74889e;
    padding: 5%;
    box-sizing: border-box;
}
#add details form input{
    margin-bottom: 2%;
    width: 100%;
    height: 30px;
    outline: none;
    padding-left: 3%;
    box-sizing: border-box;
    font-size: 12px; 
}
#add details form select{
    margin-bottom: 2%;
    width: 100%;
    height: 30px;
    outline: none;
    padding-left: 3%;
    box-sizing: border-box;
    font-size: 12px;
}
#add details form textarea{
    margin-bottom: 2%;
    width: 100%;
    height: 100px;
    outline: none;
    padding: 3%;
    box-sizing: border-box;
    font-size: 12px;
}
#add details form button{
    color: #fff;
    width: 40%;
    height: 30px;
    font-size: 12px;
    background: none;
    outline: none; 
    border: 1px solid #fff;
}
#add details form button:hover{
    cursor: pointer;
    background: #fff;
    color: #3f5267;
}

#add table{
    width: 60.2%;
    margin: auto;
    border: 1px solid #74889e;
}
#add table tr th{
    height: 35px;
    background: #74889e;
    color: #fff;
    text-align: left;
    padding-left: 1%;
    box-sizing: border-box;
    font-size: 12px; 
}
#add table tr td{

    height: 30px;
    padding-left: 1%;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
}

#edit_form{
    width: 50%;
    padding: 2%;
    box-sizing: border-box;
    margin: auto;
}
#edit_form input{
    margin-bottom: 2%;
    width: 100%;
    height: 30px;
    outline: none;
    padding-left: 3%;
    box-sizing: border-box;
    font-size: 12px;
}   
#edit_form select{
    margin-bottom: 2%;
    width: 100%;
    height: 30px;
    outline: none;
    padding-left: 3%;
    box-sizing: border-box;
    font-size: 12px;
} 
#edit_form button{
    color: #3f5267;
    width: 40%;
    height: 30px;
    font-size: 12px;
    background: none;
    outline: none; 
    border: 1px solid #3f5267;
    cursor: pointer;
}
#edit_form button:hover{
    color: #fff;
    background: #3f5267;
}
#con{
    width: 100%;
}
#con form table{
    width: 70%;
    padding: 5%;
    box-sizing: border-box;
    margin: auto;
}
#con form table tr td{
    width: 50%;
    height: 35px;
    font-size: 12px;
}
#con form table tr td input{
    border: 1px solid #3f5267;
    border-radius: 3px;
    width: 100%;
    height: 25px;
    outline: none;
    padding-left: 2%;
}
#con form button{
    cursor: pointer;
    width: 20%;
    height: 35px;
    border: 1px solid #3f5267;
    background: none;
    outline: none;
}
#con form button:hover{
    background: #3f5267;
    color: #fff;

}
#about{
    width: 60%;
    margin: auto;
    padding: 5%;
    box-sizing: border-box;
}
#about textarea{
    width: 100%;
    height: 150px;
    outline: none;
    padding: 5%;
    box-sizing: border-box;
}
#about button{
    float: right;
    cursor: pointer;
    width: 20%;
    height: 35px;
    border: 1px solid #3f5267;
    background: none;
    outline: none;
}
#about button:hover{
    background: #3f5267;
    color: #fff;

}